
#container
{
    position: relative;
    height:100%;
    width:100%;
    background-color: transparent;

}
#panel {
    padding: 50px;
    display: none;
}
#play1 {
    animation-name: godown;
    animation-iteration-count:1;
    animation-duration: 2s;
}
@keyframes godown {
    0%{
     margin-top: 120px;
    }
    100%
    {
        margin-top: 100%;
        color: transparent;
    }

}
.par {
    height: 180px;
    width: 500px;
    position: relative;
    border-radius: 5px;
    box-shadow: -1px 2px 4px red;
    border: 6px solid transparent;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 15px;
    top: 65px;
    padding-left: 60px;
    box-sizing: border-box;
}
.parab {
    height: 400px;
    width: 700px;
    position: relative;
    border-radius: 5px;
    box-shadow: -1px 2px 4px red;
    border: 6px solid transparent;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 15px;
    top: 65px;
    box-sizing: border-box;
}
.par1 {
    height: 200px;
    width: 600px;
    position: relative;
    border: 6px solid transparent;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 15px;
    top: 180px;
    padding-left: 60px;
    box-sizing: border-box;
}


.parr{
    position: absolute;
    background-color: #F71735;
    height: 120px;
    width: 300px;
    top:310px;
    left: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    letter-spacing: 3px;
}

.parl{
    position: absolute;
    background-color:#20BF55;
    height: 120px;
    width: 300px;
    top:310px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 50%;
    color: white;
    letter-spacing: 3px;



}
.paro{
    position: absolute;
    background-color: dodgerblue;
    height: 100px;
    width: 300px;
    top:270px;
    left: 28%;
    color: white;
    padding: 7px;
}